@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.54) url('./maldives-1993704_1920.jpg')no-repeat center center/cover;
    background-blend-mode: darken;
    position: relative;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 1rem;
    padding: 1rem;
    line-height: 1.7;
    overflow-x: hidden;

}

.content{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    color: #fff;
    max-width: 90%;
 
    animation: contentAnime 1s ease;
}

@keyframes contentAnime{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.content h1{
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.form-container{
    height: 100%;
    /* background: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    padding: 1rem;
    width: 70%;
    border-radius: 10px;
    min-height:70% ;
    background: white;
    animation: formAnime 1s ease;
    
}


@keyframes formAnime{
    0%{
        transform: translateX(150%);

    }
    100%{
        transform: translateX(0%);

    }

}

.form-control{
    /* background: lightblue; */
    margin-top: 1rem;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn{
    padding: 0.7rem;
    width: 100%;
    margin-top: 1rem;
    background: #45aaf2;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}


@media(max-width:780px){
    .hero{
        grid-template-columns: 1fr;
    }



    .content{
        text-align: center;
        padding: 0.2rem;
        max-width: 100%;
    }
    .content h1{
        font-size: 2rem;
    }
    .form{
        width: 95%;
    }
}